@model MVCMedicoSoft.Areas.Agenda.Models.BoiteMedecinEtPersonne

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@{
    Html.RenderPartial("_ListPatient", Model.LstPers);
    Html.RenderPartial("_ListMedecin", Model.LstMed);
}

<form method="post">
    Date du rendez-vous :<input type="date" name="date_rdv" /><br />
    Heure du rendez-vous : <input type="time" name="heure_rdv" /><br />
    <input type="submit" value="Enregisrter" />
</form>

<script>
    function setSelMed(r)
    {
        document.getElementById("selMed").value = r.value;
    }
    function setSelPers(r)
    {
        document.getElementById("selPers").value = r.value;
    }
</script>
